appointment-manager/appointment-manager-book-slots.json
{
  "name": "appointment-manager-book-slots",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "startTime"
            },
            {
              "name": "endTime"
            },
            {
              "name": "timeZone"
            },
            {
              "name": "callId"
            },
            {
              "name": "callerNumber"
            },
            {
              "name": "notes"
            },
            {
              "name": "name"
            },
            {
              "name": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        752,
        352
      ],
      "id": "0f022ca7-a4b8-4133-b611-3db439724a42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05bbc797-b781-489c-ab70-e234fe17eb62",
              "name": "id",
              "type": "number",
              "value": "={{ $json.id }}"
            },
            {
              "id": "4bb68abf-18c8-4445-b446-21667abd95aa",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description }}"
            },
            {
              "id": "74a98b77-b9fe-40cc-84c8-fc7303c5cfa6",
              "name": "startTime",
              "type": "string",
              "value": "={{ $json.start.dateTime }}"
            },
            {
              "id": "2934d6a7-9e6b-4038-891c-0b05ba18cb21",
              "name": "endTime",
              "type": "string",
              "value": "={{ $json.end.dateTime }}"
            },
            {
              "id": "10f091c8-5e52-40dc-a294-87625be9af99",
              "name": "status",
              "type": "string",
              "value": "={{ $json.status }}"
            },
            {
              "id": "cdc5e1ab-a29b-447f-8343-ff1c1b168717",
              "name": "Timezone",
              "type": "string",
              "value": "={{ $json.end.timeZone }}"
            },
            {
              "id": "f5b6820c-ab4b-496c-9957-f86753243388",
              "name": "attendees",
              "type": "array",
              "value": "={{ $json.attendees }}"
            },
            {
              "id": "b39a06a5-4fbf-4fdf-9d9a-a07dcb37d157",
              "name": "hangoutLink",
              "type": "string",
              "value": "={{ $json.hangoutLink }}"
            },
            {
              "id": "345f49fc-93bc-48b8-9ced-326139a82119",
              "name": "Title",
              "type": "string",
              "value": "={{ $json.summary }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "8630d9c7-d9af-4d45-8884-2e9e592ecb5e",
      "name": "Booking Payload",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        -64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"callId\": \"{{ $('When Executed by Another Workflow').item.json.callId }}\",\n\"callerNumber\":\"{{ $('When Executed by Another Workflow').item.json.callerNumber }}\",\n  \"status\": \"success\",\n  \"message\": \"appointment has been booked\"\n}",
        "options": {}
      },
      "id": "66a6d309-0253-457b-892b-15d3d7f5e5f7",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "position": [
        2928,
        -176
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const escapeStringForJson = (str) => {\n    return str\n        .replace(/\\\\/g, '\\\\\\\\') // Escape backslashes\n        .replace(/\"/g, '\\\\\"')    // Escape double quotes\n        .replace(/\\n/g, '\\\\n')   // Escape newlines\n        .replace(/\\r/g, '\\\\r')   // Escape carriage returns\n        .replace(/\\t/g, '\\\\t');  // Escape tabs\n};\n\n// Escape the notes field\n$input.item.json.notes = escapeStringForJson($input.item.json.notes);\n\nreturn $input.item;\n"
      },
      "id": "78fd38f8-7ba6-4c8f-86dc-518d760565db",
      "name": "Escape Json",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e0af7f69-0c89-4a02-a49f-dd5a90e31dff",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ ($json.name ) }}",
              "rightValue": ""
            },
            {
              "id": "aa28ff0f-0e00-4254-a2c5-a56eec2f4f44",
              "leftValue": "={{ $json.startTime }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "36d1f59b-3975-4148-b0e5-75735d736183",
              "leftValue": "={{ $json.endTime }}",
              "rightValue": "={{ $json.startTime }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "3f2bd68b-e635-4ec8-8f53-e65aec789816",
              "leftValue": "={{ ($json.notes ) }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "396eeac5-8de4-44ff-ae53-15941c415427",
              "leftValue": "={{ $json.timeZone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3d102177-6349-48ec-9b35-61e24ace72eb",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94323482-80bd-454e-948f-102d16df4b99",
      "name": "Has all information",
      "type": "n8n-nodes-base.if",
      "position": [
        1024,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "Checks if required booking info (email, name, etc.) is provided.",
        "height": 80,
        "width": 230
      },
      "id": "7c20d5b2-5e94-4a20-b6db-4c0d0674490f",
      "name": "Sticky Note BookSlot Check",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Books the appointment in Google Calendar.",
        "height": 80,
        "width": 190
      },
      "id": "d71edca4-90ef-4e5c-867d-d5a7fd01d1c7",
      "name": "Sticky Note BookSlot GCal",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Logs the confirmed booking details to Airtable.",
        "height": 80,
        "width": 230
      },
      "id": "1ae07466-2a21-4300-ab58-7b52426aa054",
      "name": "Sticky Note BookSlot Airtable",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c0d34fn@gmail.com",
          "mode": "list",
          "cachedResultName": "Gmail"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "useDefaultReminders": "={{ true }}",
        "additionalFields": {
          "allday": "no",
          "attendees": [
            "={{ $json.email }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=Telefono: {{ $json.callerNumber }}\nMotivo: {{ $json.notes }}",
          "showMeAs": "opaque",
          "summary": "={{ $json.name }}"
        }
      },
      "id": "504f957a-e938-460d-90e6-eef13ddf4b5d",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1568,
        128
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "v8he0NUEHxJLmkeE",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "932dd430-309b-4d3b-8bf6-768f84fd2dd2",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "=confirmed"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "160d92cb-191f-4594-982b-c772db7f6e5b",
      "name": "If the booking is confirmed then true",
      "type": "n8n-nodes-base.if",
      "position": [
        2160,
        -64
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b103265d-86da-4256-994d-85a78f33f933",
              "name": "startTime",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.startTime }}"
            },
            {
              "id": "a8e6e9c5-6ebb-48d8-951f-b007bed2421d",
              "name": "endTime",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.endTime }}"
            },
            {
              "id": "d4bcb1d1-043a-4205-8488-0a67b4e7b582",
              "name": "status",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.status }}"
            },
            {
              "id": "92ac8c99-ad94-4b3c-9c5e-ba032dac2255",
              "name": "description",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.description }}"
            },
            {
              "id": "98c5653d-1e0e-4a6a-8630-17802d437593",
              "name": "attendees[0].email",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.attendees[0].email }}"
            },
            {
              "id": "f94bdfc1-dc74-4675-ad29-19244fb21ebe",
              "name": "attendees[0].responseStatus",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.attendees[0].responseStatus }}"
            },
            {
              "id": "12bd5ed5-4934-4c19-a9b9-54fe989eaa4f",
              "name": "hangoutLink",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.hangoutLink }}"
            },
            {
              "id": "5b1f9356-7d62-4999-ae4e-86f3f20d72bf",
              "name": "attendee.name",
              "type": "string",
              "value": "={{ $('Escape Json').item.json.name }}"
            },
            {
              "id": "6e93805e-8754-4f92-870f-7b46525f3eb3",
              "name": "call.id",
              "type": "string",
              "value": "={{ $('Escape Json').item.json.callId }}"
            },
            {
              "id": "a4bc9d70-7d51-487f-b622-433e767ef71f",
              "name": "event.id",
              "type": "string",
              "value": "={{ $('Create Event').item.json.id }}"
            },
            {
              "id": "9259b1d3-3658-4ab5-b434-364e6a84d145",
              "name": "Title",
              "type": "string",
              "value": "={{ $('Booking Payload').item.json.Title }}"
            },
            {
              "id": "2102a7be-5d74-458f-bafd-21651e24adb1",
              "name": "customer_number",
              "type": "string",
              "value": "={{ $('Escape Json').item.json.callerNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "881fea57-1962-449b-a7d7-31b390435dfe",
      "name": "Information to be Saved in Airtable",
      "type": "n8n-nodes-base.set",
      "position": [
        2464,
        -176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app6V9RxLcHB4jvkA",
          "mode": "list",
          "cachedResultName": "Voice Receptionist Agent",
          "cachedResultUrl": "https://airtable.com/app6V9RxLcHB4jvkA"
        },
        "table": {
          "__rl": true,
          "value": "tblF8LF9lmkHMbk7v",
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://airtable.com/app6V9RxLcHB4jvkA/tblF8LF9lmkHMbk7v"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json.customer_number }}",
            "Name": "={{ $json.attendee.name }}",
            "Booking Status": "={{ $json.status }}",
            "CallRecordingId": "={{ [$json.call.id] }}",
            "eventId": "={{ $json.event.id }}",
            "meetdescription": "={{ $json.description }}",
            "meetlink": "={{ $json.hangoutLink }}",
            "endtime": "={{ $json.endTime }}",
            "starttime": "={{ $json.startTime }}",
            "Email": "={{ $json.attendees[0].email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Status",
              "displayName": "Booking Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CallRecordingId",
              "displayName": "CallRecordingId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "starttime",
              "displayName": "starttime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endtime",
              "displayName": "endtime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meetlink",
              "displayName": "meetlink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meetdescription",
              "displayName": "meetdescription",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voice Agent",
              "displayName": "Voice Agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "eventId",
              "displayName": "eventId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Appointments",
              "displayName": "Appointments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "8e8b71b1-5454-4f9b-9627-5a8dd2a4ccd7",
      "name": "Logs the confirmed booking details",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2688,
        -176
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "QXLxGuYPPsyfhT1h",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"callId\": \"{{ $('When Executed by Another Workflow').item.json.callId }}\",\n  \"callerNumber\":\"{{ $('When Executed by Another Workflow').item.json.callerNumber }}\",\n  \"status\": \"failure\",\n  \"message\": \"error booking appointment, please try later.\"\n}",
        "options": {}
      },
      "id": "1f731c6d-4efb-4047-82ea-21b30cc110a6",
      "name": "Error Response1",
      "type": "n8n-nodes-base.set",
      "position": [
        2464,
        64
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"callId\": \"{{ $('When Executed by Another Workflow').item.json.callId }}\",\n  \"callerNumber\":\"{{ $('When Executed by Another Workflow').item.json.callerNumber }}\",\n  \"status\": \"failure\",\n  \"message\": \"error booking appointment, please try later.\"\n}",
        "options": {}
      },
      "id": "8d994b88-2d2f-4d04-87ff-efe1fe15bcad",
      "name": "Error Response2",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# Book Slot",
        "height": 80,
        "width": 190,
        "color": 5
      },
      "id": "3279bf12-e83d-4c27-9d98-1449b8f04bf6",
      "name": "Sticky Note BookSlot Webhook",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"callId\": \"{{ $('When Executed by Another Workflow').item.json.callId }}\",\n  \"callerNumber\":\"{{ $('When Executed by Another Workflow').item.json.callerNumber }}\",\n  \"status\": \"failure\",\n  \"message\": \"error booking appointment, please try later.\"\n}",
        "options": {}
      },
      "id": "dae1a9b8-1755-4999-86db-e468d92c5dd4",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        144
      ],
      "typeVersion": 3.3
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "startTime": "2025-07-23T17:00:00-06:00",
          "endTime": "2025-07-23T18:00:00-06:00",
          "timeZone": "America/Mexico_City",
          "callId": "82a0db92e194476ca715ca1debd0ca80",
          "callerNumber": "(561) 756-5010",
          "notes": "limpieza",
          "name": "Hugo Garcia",
          "email": "contacto@dentibelle.mx"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Has all information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Payload": {
      "main": [
        [
          {
            "node": "If the booking is confirmed then true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        []
      ]
    },
    "Escape Json": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has all information": {
      "main": [
        [
          {
            "node": "Escape Json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Booking Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If the booking is confirmed then true": {
      "main": [
        [
          {
            "node": "Information to be Saved in Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information to be Saved in Airtable": {
      "main": [
        [
          {
            "node": "Logs the confirmed booking details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs the confirmed booking details": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response1": {
      "main": [
        []
      ]
    },
    "Error Response2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d33e51e8-ab21-4034-bac7-79811b6903d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a8aba533b403b88b82ddc10eaf24a3b9ea4720731ee62282249273ac35c2a6f"
  },
  "id": "D8WAocSADFuZ4FGU",
  "tags": [
    {
      "createdAt": "2025-07-07T20:34:51.228Z",
      "updatedAt": "2025-07-07T20:34:51.228Z",
      "id": "DpoWFufyir7Xw37U",
      "name": "production"
    }
  ]
}